*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*
.container-msg{

}
*/
.pdjtask{
    width: 80%;
    margin:65px auto 40px;
    display: flex;
    justify-content: center;
}

.pdjtask .btn-margin{
    text-align: center;
    margin-top: 20px;
}

.tktable{
    width: 70%;
    margin:50px auto 40px;
    display: flex;
    justify-content: center;
}

.weiclass{
    width: 80px;
    display: inline-block;
}

.layout{
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.userInfo{
    font-size: 18px;    
    width: 150px;
    margin: 20px auto;
    position: fixed;
    top: 0px;
    right: 250px;
}